<ion-pane>
  <ion-header-bar >
    Gen Form
  </ion-header-bar>
  <ion-content>
    <p>
      {{ templateData }}
    </p>
    <div class="scroll">
      <!-- <p>base component: {{ templateData.templateConfig }} </p> -->
      <!-- <p>base instance: {{ templateData.templateInstance }} </p> -->
      <form-auto data="templateData.templateConfig.formBaseComponent" form-value="templateData.templateInstance.formBaseInstance"></form-auto>
      <form-auto data="templateData.templateConfig.formCustComponent" form-value="templateData.templateInstance.formCustInstance"></form-auto>

      <button ng-click="getTmplIns()">get tmpl ins</button>
    </div>
  </ion-content>
</ion-pane>
