
<ion-view title="{{ headerTitle }}">

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-compose" id="new-task" ng-click="newTask()">
    </button>
  </ion-nav-buttons>

  <ion-content has-header="true" has-tabs="true" class="scroll-bg">
    <ion-refresher pulling-text="Refreshing Task" on-refresh="refreshTask()">
    </ion-refresher>

    <ion-list>
      <ion-item ng-repeat="task in activeProject.tasks" ng-click="taskClick(task)" on-hold="showDetails() ui-sref='({taskId: task.id})" ng-class="({done: task.done})">
        {{task.title}}
        <img ng-src="{{task.lastPhoto}}", style="max-width: 100%" />
      </ion-item>
    </ion-list>
  </ion-content>


  <div class="tabs tabs-icon-only">
    <a nav-clear class="tab-item disable-user-behavior active" nav-clear title="Home" ui-sref="root.home">
      <i class="icon ion-ios-home"><span class="table-title ng-binding" ng-bind-html="title"></span></i>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="About" ui-sref="root.about"
       icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
      <i class="icon ion-ios-clock"><span class="table-title ng-binding" ng-bind-html="title"></span></i>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Settings" ui-sref="root.settings"
       icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
      <i class="icon ion-ios-gear"><span class="table-title ng-binding" ng-bind-html="title"></span></i>
    </a>
  </div>

</ion-view>
